$colors: (
  primary: #6f6f77,
  secoundary: #BEC5CA,
  secoundary-headline: #939ea7,
  //  #9ba1a5, #a5acb1, #999fa4

  accent-color: #70ccff,
  accent-shadow: rgba(0, 161, 250, 0.4),
  //   accent-color-darker: rgb(35, 143, 35),
    bg: rgb(38, 38, 38),
  //   bg-light: #fff,
    bg-dark: #08080a,
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin headline {
  color: color(secoundary);
  padding: 0.5rem 0;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

@mixin headline-sec {
  color: color(secoundary-headline);
  padding: 0.5rem 0.5rem 0 0.5rem;
}

// @mixin transition-ease {
//   transition: all 0.2s ease-in-out;
// }

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

// @mixin media-xl {
//     @media screen and (min-width: 1600px) {
//         @content;
//     }
// }
