$colors: (
  primary: rgb(111,111,119),
  headline: #BEC5CA,
  secoundary-headline: #939ea7,
  accent-color: #70ccff,
  accent-shadow: rgba(0, 161, 250, 0.4),
  bg: rgb(38, 38, 38),
  active-primary: #f2f9ff
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin headline {
  color: color(headline);
  padding: 0.5rem 0;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

@mixin headline-sec {
  color: color(secoundary-headline);
  padding: 0.5rem 0.5rem 0 0.5rem;
}

// @mixin transition-ease {
//   transition: all 0.2s ease-in-out;
// }

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

// @mixin media-xl {
//     @media screen and (min-width: 1600px) {
//         @content;
//     }
// }
