.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1.6rem;

  border-radius: 10px;
  background: url(http://www.inetgo.pl/templates/yoo_catalyst/images/system_tl.png)
      0 0 no-repeat,
    url(http://www.inetgo.pl/templates/yoo_catalyst/images/system_tr.png) 100% 0
      no-repeat,
    url(http://www.inetgo.pl/templates/yoo_catalyst/images/system_bl.png) 0 100%
      no-repeat,
    url(http://www.inetgo.pl/templates/yoo_catalyst/images/system_br.png) 100%
      100% no-repeat,
    url(http://www.inetgo.pl/templates/yoo_catalyst/images/system.png) 0 0
      repeat rgba(0, 0, 0, 0.812);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06),
    0 0 0 1px rgba(0, 0, 0, 0.9), inset 0 0 5px rgba(0, 0, 0, 0.4),
    0 3px 5px rgba(0, 0, 0, 0.5), 0 2px 0 1px rgba(0, 0, 0, 0.5);
}

.form-headline {
  width: 100%;
  text-align: center;

  &__text {
    @include headings;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: normal;
    padding: 0.5rem 0;
  }
}

.period-choice {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__option {
    text-align: center;
    padding: 1rem;
    cursor: pointer;
  }
}

.eq-options {
  width: 100%;
  display: flex;
  flex-direction: column;

  //   &__headline {
  //       display: flex;
  //       justify-content: center;
  //   }
  &__chooses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__chooses-possibility {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
  }
}

// TELEWIZJA ŚWIATŁOWODOWA

.tv {
  width: 100%;
}

.tv-headline {
  width: 100%;
  text-align: center;
  &__text {
    color: color(secoundary);
    padding: 0.5rem 0;
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}

.tv-package {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  &__offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__offer-headline {
    padding: 1rem;
    display: none;

    &__tile {
      padding: 0.5rem;
    }
  }

  &__offer-content {
    padding: 1rem;
  }

  &__offer-tile {
    padding: 0.5rem;
    text-align: center;
  }
}

// DOSTĘPNE KANAŁY

.available-channels {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

// ROZSZERZANIE KANAŁÓW
.chanels-enhancement {
  width: 100%;
  &__headline {
    width: 100%;
    text-align: center;
  }
  &__headline-text {
    color: color(secoundary);
    padding: 0.5rem 0;
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}

// INTERNET ŚWIATŁOWODOWY

.internet {
  width: 100%;
}

.internet-headline {
  width: 100%;
  text-align: center;
  &__text {
    color: color(secoundary);
    padding: 0.5rem 0;
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}

.web_extention {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  &__offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__offer-headline {
    padding: 1rem;
    display: none;
    &__tile {
      padding: 0.5rem;
    }
  }

  &__offer-content {
    padding: 1rem;
  }

  &__offer-tile {
    padding: 0.5rem;
    text-align: center;
  }
}

// PODSUMOWANIE KOSZTÓW

.price-summary {
  width: 100%;
}

.price-summary-headline {
  width: 100%;
  text-align: center;
  &__text {
    color: color(secoundary);
    padding: 0.5rem 0;
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}
