.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1.6rem;

  border-radius: 10px;
  background: url(http://www.inetgo.pl/templates/yoo_catalyst/images/system_tl.png)
      0 0 no-repeat,
    url(http://www.inetgo.pl/templates/yoo_catalyst/images/system_tr.png) 100% 0
      no-repeat,
    url(http://www.inetgo.pl/templates/yoo_catalyst/images/system_bl.png) 0 100%
      no-repeat,
    url(http://www.inetgo.pl/templates/yoo_catalyst/images/system_br.png) 100%
      100% no-repeat,
    url(http://www.inetgo.pl/templates/yoo_catalyst/images/system.png) 0 0
      repeat rgba(0, 0, 0, 0.812);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06),
    0 0 0 1px rgba(0, 0, 0, 0.9), inset 0 0 5px rgba(0, 0, 0, 0.4),
    0 3px 5px rgba(0, 0, 0, 0.5), 0 2px 0 1px rgba(0, 0, 0, 0.5);
}

.form-headline {
  width: 100%;
  text-align: center;

  &__text {
    color: color(accent-color);
    text-shadow: 0 0 5px color(accent-shadow);
    font-size: 2rem;
    line-height: 2rem;
    padding: 0.5rem 0;
  }
}

// WYBÓR OKRESU

.period-choice {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;

  &__option {
    text-align: center;
    padding: 1rem;
    cursor: pointer;
  }
}

// INTERNET ŚWIATŁOWODOWY

.internet {
  width: 100%;
}

.internet-headline {
  width: 100%;
  text-align: center;

  &__text {
    @include headline;
  }
}

.web_package {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__headline-text {
    @include headline-sec;
  }

  &__offer {
    display: flex;
    flex-direction: column;
  }

  &__offer-content {
    padding: 1rem;
  }

  &__offer-tile {
    padding: 0.5rem;
    text-align: center;
  }
}

// CENA AKTYWACYJNA

.activation-charge {
  width: 100%;
  display: none;
  flex-direction: column;

  &__headline-text {
    @include headline-sec;
  }
}

.change-charge {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__headline {
    padding: 0.5rem 1rem;
  }

  &__area, &__panel {
    display: flex;
    flex-direction: column;
  }

  &__panel {
    padding: 0.5rem;
  }

  &__manage {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  &__alert {
    display: none;
    justify-content: center;
    padding: 0.5rem 0 0 0;
  }

  &__input {
    max-width: 90%;
    border-radius: 2px;
    border: none;
    padding: 10px 30px;
    margin: 0 10px 0 0;
    background-color: rgba(color(primary), .4);
    color: color(secoundary-headline);

    &:focus {
      box-shadow: 0 0px 40px rgba(0, 161, 250, 0.6);
    }
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}


// OPCJE SPRZĘTOWE - INTERNET

.web-hardware {
  width: 100%;
  display: none;
  flex-direction: column;

  &__headline-text {
    @include headline-sec;
  }

  &__chooses {
    display: flex;
    flex-direction: column;
  }

  &__chooses-possibility {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;

    span {
      padding: 0.25rem;
    }
  }
}

.hardware {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__headline-text {
    padding: 0.5rem 1rem;
  }

  &__manage-option {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
}

.extra-hardware {
  display: none;
}

// TV EXTEND OR NOT

.tv-extend {
  width: 100%;
  display: none;
  flex-direction: column;
  margin: 2rem 0;

  &__headline {
    width: 100%;
    text-align: center;
  }

  &__headline-text {
    @include headline-sec;
  }

  &__chooses {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }

  &__possibility {
    padding: 0.8rem 2.6rem;
    cursor: pointer;
  }
}

// TELEWIZJA ŚWIATŁOWODOWA

.tv {
  width: 100%;
  display: none;
}

.tv-headline {
  width: 100%;
  text-align: center;
  &__text {
    @include headline;
  }
}

.tv-package {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__headline-text {
    @include headline-sec;
  }

  &__sub-headline-text {
    padding: 0.5rem 1rem;
  }

  &__offer {
    display: flex;
    flex-direction: column;
  }

  &__offer-content {
    padding: 1rem;
  }

  &__offer-tile {
    padding: 0.5rem;
    text-align: center;
  }
}

// DOSTĘPNE KANAŁY

// .available-channels {
//   width: 100%;
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
// }

// ROZSZERZANIE KANAŁÓW

.chanels-enhancement {
  width: 100%;

  &__headline {
    width: 100%;
    text-align: center;
  }

  &__headline-text {
    @include headline;
  }
}

.additional-package {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__headline-text {
    @include headline-sec;
  }

  &__offer {
    display: flex;
    flex-direction: column;
  }

  &__offer-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;

    span {
      padding: 0.25rem;
    }
  }
}

// OPCJE SPRZĘTOWE - TV

.tv-hardware {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__headline-text {
    @include headline-sec;
  }

  &__chooses {
    display: flex;
    flex-direction: column;
  }

  &__chooses-possibility {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;

    span {
      padding: 0.25rem;
    }
  }
}

// MULTIROOM

.multiroom {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__headline-text {
    @include headline-sec;
  }
}

.activate-multiroom {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__intro-area {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
  }

  &__intro {
    padding: 0.5rem 0;
  }

  &__sets-area {
    display: none;
    flex-direction: column;
    padding: 0.5rem 1rem;
  }

  &__btn-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    padding: 1rem;
  }
}

.multiroom-sets {
  display: flex;
  justify-content: space-around;
  align-items: baseline;

  &__choose {
    padding: 1rem;
    cursor: pointer;
  }
}

// PODSUMOWANIE KOSZTÓW

.price-summary {
  width: 100%;
  display: none;
  flex-direction: column;

  &__headline {
    width: 100%;
    text-align: center;
  }
  &__headline-text {
    @include headline;
  }

  &__schedule {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.payment {
  width: 100%;
  margin-bottom: 2rem;

  &__headline-text {
    @include headline-sec;
  }
}

.monthly-payment,
.one-time-payment {
  &__price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.25rem 1rem;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include headline-sec;
  }
}

// AKTYWNE POLA & PRZYCISKI

.active {
  color: color(active-primary);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 1), 0 0 5px rgba(255, 255, 255, 0.4);
  background: url(http://www.inetgo.pl/templates/yoo_catalyst/images/fancy.png)
    center no-repeat;
  background-size: 100% 110%;
  background-position-y: 0.6rem;
}

button {
  position: relative;
  padding: 10px 30px;
  border: 2px solid color(accent-color);
  color: color(accent-color);
  font-weight: 700;
  cursor: pointer;
  background: none;
}

.hardware__add-btn,
.remove-hardware-btn,
.choice-btn,
.activate-multiroom__btn, .change-charge__btn {
  will-change: transform;
  transition: transform 0.2s ease-out;

  &:hover {
    transform: translateY(-2px);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    box-shadow: 0 0px 40px rgba(0, 161, 250, 0.6);
    transition: opacity 0.2s ease-in-out;
    will-change: opacity, transform;
    transform: translateZ(0);
  }

  &:hover::after {
    opacity: 1;
  }
}
