@include media-md {
  .form {
    width: 60%;
  }

  .form-headline {
    text-align: start;
  }

  .tv-hardware {
    // &__headline {
    //   justify-content: flex-start;
    // }

    &__chooses {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .tv-headline {
    text-align: start;
  }

  .tv-package {
    &__offer-content {
      flex: 1;
    }
    &__offer {
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  .chanels-enhancement {
    &__headline {
      text-align: start;
    }
  }

  .additional-package {
    &__offer {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .internet-headline {
    text-align: start;
  }

  .web_package {
    &__offer-content {
      flex: 1;
    }
    &__offer {
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  .price-summary {
    &__headline {
      text-align: start;
    }
    &__schedule {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

// @include media-lg {
//   .tv-package {
//     &__offer-headline {
//       display: block;
//     }
//   }
//   .web_package {
//     &__offer-headline {
//       display: block;
//     }
//   }
// }
