@include media-md {
  .form {
    width: 60%;
  }

  .form-headline,
  .internet-headline,
  .tv-headline {
    text-align: start;
  }

  
.change-charge {
  &__area {
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
  }

}

  .web_package,
  .tv-package {
    &__offer {
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: baseline;
    }
  }

  .web-hardware,
  .tv-hardware {
    &__chooses {
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: baseline;
    }
  }

  .chanels-enhancement {
    &__headline {
      text-align: start;
    }
  }

  .additional-package {
    &__offer {
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: baseline;
    }
  }

  .price-summary {
    &__headline {
      text-align: start;
    }
  }
}

@include media-lg {
  .price-summary {
    &__schedule {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: baseline;
    }
  }

  .payment {
    width: 40%;
  }

  .activate-multiroom {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;

    &__intro-area {
      flex: 2;
    }

     &__sets-area, &__btn-area {
      flex: 1;
    }

    &__btn-area {
      align-self: center;
    }
  }
}
